h1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    font-weight: 100;
    font-style: normal;
    text-align: left;
}

body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    font-weight: 100;
    font-style: normal;
    text-align: left;
}

/* CLASSES */

.header-forbidden {
    background-color: white;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-forbidden-logo {
    height: fit-content;
    width: fit-content;
    padding-left: 10px;
    display: flex;
}

.header-forbidden-logo img {
    align-self: center;
}

.header-forbidden-left-nav {
    justify-content: left;
    width: fit-content;
    height: 70px;
    display: flex;
}

.header-forbidden-left-nav ul {
    list-style: none;
    margin-left: 3px;
    align-self: center;
}

.header-forbidden-left-nav ul li {
    display: inline;
    float: left;
}

.header-forbidden-left-nav ul li a {
    padding: 0 10px 0 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.forbidden-doc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}