h1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    text-align: left;
}

h4 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-style: normal;
    text-align: center;
    position: relative;
    top: -100px;
}

body {
    background-color: rgb(205, 212, 255);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    text-align: left;

}

a {
    cursor: pointer;
}

button {
    background-color: rgb(243, 214, 84);
    color: black;
    height: 50px;
    width: 200px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-color: black;
}


/* CLASSES */

.header-main {
    background-color: white;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-main-logo {
    height: fit-content;
    width: fit-content;
    padding-left: 10px;
    display: flex;
}

.header-main-logo img {
    align-self: center;
}

.header-main-left-nav {
    justify-content: left;
    width: fit-content;
    height: 70px;
    display: flex;
}

.header-main-left-nav ul {
    list-style: none;
    margin-left: 3px;
    align-self: center;
}

.header-main-left-nav ul li {
    display: inline;
    float: left;
}

.header-main-left-nav ul li a {
    padding: 0 10px 0 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.header-main-right-nav {
    justify-content: center;
    height: 70px;
    width: fit-content;
    display: flex;
    align-content: flex-end;
}

.header-main-right-nav ul {
    list-style: none;
    margin-left: 3px;
    align-self: center;
}

.header-main-right-nav ul li {
    display: inline;
    float: left;
}

.header-main-right-nav ul li a {
    padding: 0 10px 0 1px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.GLlogo {
    background-image: url(assets/logos/GL_Logo_Large.png);
    width: 900px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    left: 200px;
    top: 75px;
}