h3 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 1500;
    font-style: normal;
    text-align: center;
}

h5 {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 1500;
    font-style: normal;
    text-align: center;
}

body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 100;
    font-style: normal;
    text-align: left;
}

button {
    margin-left: 40px;
}

a {
    cursor: pointer;
}


/* CLASSES */

.header-login {
    background-color: white;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-login-logo {
    height: fit-content;
    width: fit-content;
    padding-left: 10px;
    display: flex;
}

.header-login-logo img {
    align-self: center;
}

.header-login-left-nav {
    justify-content: left;
    width: fit-content;
    display: flex;
}

.header-login-left-nav ul {
    list-style: none;
    margin-left: 3px;
}

.header-login-left-nav ul li {
    display: inline;
    float: left;
}

.header-login-left-nav ul li a {
    padding: 0 10px 0 1px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
}

.header-login-right-nav {
    justify-content: center;
    height: 70px;
    width: fit-content;
    display: flex;
    align-content: flex-end;
}

.header-login-right-nav ul {
    list-style: none;
    margin-left: 3px;
    align-self: center;
}

.header-login-right-nav ul li {
    display: inline;
    float: left;
}

.header-login-right-nav ul li a {
    padding: 0 10px 0 1px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.log-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0px 50px;
}

.log-vol {
    width: 275px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 0px 50px;
}

.log-ngo {
    width: 275px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 0px 50px;
}

.log-line {
    background-color: black;
    width: 2px;
    height: 250px;
}

.log-endlinks {
    display: flex;
    flex-direction: column;
    text-align: center;
}